.red {
  color: red;
}

.header {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgb(73, 73, 73);
  padding-left: 30px;
}

.header_item {
  color: white;
  margin-right: 10px;
  text-transform: capitalize;
}
