.PostDetail {
  background-color: white;
  padding: 30px 0;
  margin: 0 auto;
  width: calc(100% - 330px);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgb(67 133 187 / 7%);
  @media screen and (max-width: 950px) {
    width: calc(100% - 120px);
  }
  @media screen and (max-width: 700px) {
    width: calc(100% - 66px);
  }
  @media screen and (max-width: 480px) {
    padding: 18px 0;
    width: 100%;
    border-radius: 0;
  }

  div > :first-child {
    margin-top: 0;
  }

  pre > code {
    font-family: "Source Code Pro", monospace;
    padding: 20px 30px;
    letter-spacing: 1px;
    font-size: 14px;
    @media screen and (max-width: 700px) {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  p {
    line-height: 1.8;
    margin: 0px 30px 24px;
    letter-spacing: 0.5px;
    font-size: 15px;
    @media screen and (max-width: 700px) {
      margin-left: 18px;
      margin-right: 18px;
    }
  }

  h2 {
    margin: 50px 30px 15px;
    font-size: 23px;
    @media screen and (max-width: 700px) {
      margin-left: 18px;
      margin-right: 18px;
    }
  }

  a {
    font-weight: bold;
    color: #0f83fd;
    text-decoration: none;
  }
}
