.title {
  padding: 37px 0px;
  text-align: center;

  .top_img {
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
    margin: 0 auto 17px;
  }

  h1 {
    margin: 0 18px 18px;
    display: inline-block;
    text-align: start;
    max-width: calc(100% - 122px);
    font-size: 30px;
    @media screen and (max-width: 700px) {
      max-width: calc(100% - 66px);
      font-size: 21px;
    }
    @media screen and (max-width: 480px) {
      max-width: calc(100% - 36px);
    }
  }

  .dates {
    display: flex;
    align-items: center;
    justify-content: center;

    .date {
      display: flex;
      align-items: center;
      margin: 0 10px;
      letter-spacing: 0.5px;
      color: #636363;
      svg {
        font-size: 20px;
      }
    }
  }
}
